.registro-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin: 0 auto;
}

.registro-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.registro-form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.registro-form button {
  background-color: #8b4513;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
}

.registro-form button:hover {
  background-color: #5e2a00;
}