.site-footer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(216, 100, 100);
  color: white;
  padding: 0px 0;   
  line-height: 0,5;   
  font-size: 8px;   
  font-family: italic;
}