.site-footer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(216, 100, 100);
  color: white;
  padding: 0px 0;    /* mínimo espacio */
  line-height: 0,5;    /* reduce el alto del texto */
  font-size: 8px;   /* hace el texto un poco más chico */
  font-family: italic;
}