.site-header {
    background-color: rgb(216, 100, 100);
    color: white;
    justify-content: center;
    display: flex;
    top: 0;
    position: sticky;
    letter-spacing: 1rem;
    font-size: large;
    font-family: italic;
}